<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Kanji-list Tab -->
  <ion-tab title="List" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref=".kanji-list">
    <ion-nav-view name="tab-kanji-list"></ion-nav-view>
  </ion-tab>

  <!-- Kanji-list Tab -->
  <ion-tab title="Test" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref=".kanji-test">
    <ion-nav-view name="tab-kanji-test"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Details" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref=".kanji-list.details">
    <ion-nav-view name="tab-kanji-list-details"></ion-nav-view>
  </ion-tab>


</ion-tabs>
