<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Kanji-list Tab -->
  <ion-tab title="{{ 'KANJI_LIST' | translate }}" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" ui-sref=".kanji-list">
    <ion-nav-view name="tab-kanji-list"></ion-nav-view>
  </ion-tab>

  <!-- Kanji-list Tab -->
  <ion-tab title="{{ 'TEST' | translate }}" icon-off="ion-ios-compose" icon-on="ion-ios-compose" ui-sref=".kanji-test">
    <ion-nav-view name="tab-kanji-test"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="{{ 'SETTINGS' | translate }}" icon-off="ion-android-settings" icon-on="ion-android-settings" ui-sref=".settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
